@import url("https://www.nerdfonts.com/assets/css/webfont.css");
* {margin:0; padding:0;}
* {font-family:  monospace;}

body {
    overflow: scroll;
    height: 100vh;
    background: #11111b;
    color: #cdd6f4;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {display: none;}
/* Hide scrollbar for IE, Edge and Firefox */
body {-ms-overflow-style: none;scrollbar-width: none;}

.window-manager {
    display: flex;
    flex-direction: column;   
    gap: 2rem;
    max-width: 66rem;
    white-space: pre;
    margin: auto;
    padding: 3rem 3rem; 
    text-wrap: wrap;
}

.window {
    background: #1e1e2e;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.window::-webkit-scrollbar { display: none; }
/* Hide scrollbar for IE, Edge and Firefox */
.window { -ms-overflow-style: none;scrollbar-width: none; }

.floating-center {
    text-align: center;
    width: fit-content;
    align-self: center;
}

.window.text {
    white-space: normal;
    padding: 1rem;
    font-size: 1.5rem;
    color: #cdd6f4;
}

/*Top + picture*/

img {
    align-self: center;
    border: 1rem solid #1e1e2e;
    background-color: #1e1e2e;
}

img.self {
    width: 40%;
}

a {
    text-decoration: none;
    color: #cdd6f4;
}


.whoami a {
    display: inline-block;
    width: 100%;
}
a:hover {
    font-weight: bold;
    background: #45475a;
}

.multi-frame {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 1rem 0rem;
}

.frame {
    white-space: normal;
    flex: 1 1 18rem;
    height: 19rem;
    background-color: #1e1e2e;
    max-width: 19rem;
    text-align: center;
    padding: 1rem;
    color: #6c7086;
}
.frame:hover {
    background-color: #313244;
    font-weight: bold;
}

.frame h3 {
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.icon {
    height: 9rem; 
    width:  9rem;
    margin: 1rem auto;
    border-radius: 50%;
    background-color: #11111b;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 6rem;
}


.frame .description {
    display: inline-block;
    font-size: 1rem;
}


/* remove gaps in the name */
h1 {
    line-height: 1rem;
    letter-spacing: 0rem;
    text-wrap: always;
    text-align: center;
    font-size: 1rem;
}

.huge-name,
.big-name,
.medium-name,
.small-name,
.tiny-name {
    display: none;
    color: #b4befe;
    color: #f5e0dc;
}
@media (min-width: 62rem) 
{ .huge-name  { display: inline;} }
@media (min-width: 50rem) and (max-width: 62rem)
{ .big-name   { display: inline;} }
@media (min-width: 39rem) and (max-width: 50rem)
{ .medium-name{ display: inline;} }
@media (min-width: 20rem) and (max-width: 39rem)
{ .small-name { display: inline;} }
@media (max-width: 20rem)
{ .tiny-name{ 
        display: inline;
        letter-spacing: 0px;
        font-size: 1rem;
} }

h2 {
    /* text-wrap: always; */
    /* text-align: center; */
    margin-bottom: -2rem;
    line-height: 7rem;
    font-size: 3rem;
}

/* Gaps above and below the screen*/
.top-space { top: 0; }
.bot-space { bottom: 0; }
.top-space,
.bot-space {
    position: fixed;
    background-color: #11111b;
    height: 2rem;
    width: 100%;
}






