@import url("https://www.nerdfonts.com/assets/css/webfont.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;500&display=swap');
* {margin: 0; padding: 0; font-family: 'Noto Sans Mono', monospace;}

body {
    overflow: scroll;
    background: #11111b;
    color: #cdd6f4;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {display: none;}
/* Hide scrollbar for IE, Edge and Firefox */
body {-ms-overflow-style: none;scrollbar-width: none;}

.window-manager {
    display: flex;
    flex-direction: column;   
    gap: 2rem;
    max-width: 66rem;
    margin: auto;
    padding: 3rem 3rem; 
    text-wrap: wrap;
}

.window { background: #1e1e2e;}

/* Hide scrollbar for Chrome, Safari and Opera */
.window::-webkit-scrollbar { display: none; }
/* Hide scrollbar for IE, Edge and Firefox */
.window { -ms-overflow-style: none;scrollbar-width: none; }

.window.text {
    padding: 1rem;
    font-size: 1.5rem;
    color: #cdd6f4;
}

.floating-center {
    text-align: center;
    width: fit-content;
    align-self: center;
}

img {
    align-self: center;
    border: 1rem solid #1e1e2e;
    background-color: #1e1e2e;
}

/* Big name text and self picture */

img.self {
    aspect-ratio: 1; 
    width: 30vw;
    height: 30vw;
}


h1 {
    color: #bac2de;
    width: 100vw;
    align-self: center;

    text-align: center;
    letter-spacing: 1rem;
    font-size: 7rem; 
}

@media only screen and (max-width: 767px) {
    img.self { width: 70vw; height: 70vw; }
    h1 { 
        font-size: 3rem; 
        font-weight: normal;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    img.self { width: 50vw; height: 50vw; }
    h1 { 
        font-size: 6rem; 
        font-weight: 300;
    }
}

@media only screen and (min-width: 1024px) {
    img.self { width: 30vw; height: 30vw; }
    h1 { 
        font-size: 7rem; 
        font-weight: 300;
    }
}

h2 {
    font-size: 2rem;
    font-weight: normal;

    line-height: 6rem;
    margin-bottom: -2rem;
}

a {
    text-decoration: none;
    color: #cdd6f4;
}
a:hover {
    font-weight: bold;
    background: #45475a;
}

.whoami a {
    display: inline-block;
    width: 100%;
}



/* Responsive multi-frame section */
.multi-frame {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 1rem 0rem;
}

.frame {
    flex: 1 1 18rem;
    height: 19rem;
    background-color: #1e1e2e;
    max-width: 19rem;
    text-align: center;
    padding: 1rem;
    color: #6c7086;
}

.frame:hover {
    background-color: #313244;
    font-weight: bold;
}

.frame h3 {
    font-size: 1.5rem;
    font-weight: normal;
    
    height: 4rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.icon {
    height: 9rem; 
    width:  9rem;
    margin: 1rem auto;
    border-radius: 50%;
    background-color: #11111b;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 6rem;
}

.frame .description {
    display: inline-block;
    font-size: 1rem;
}

/* Linux setup section*/
.setup {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 2rem;

    width: 100%;
    max-width: 50rem;
}


/* Title */
.setup summary { 
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 0 1rem;
}
.setup summary:hover { cursor: pointer; }

.setup .title {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.setup .title:hover {
    font-weight: bold;
    background-color: #313244;
}

.setup .key     { flex: 1 1 auto }
.setup .value   { flex: 1 1 auto; text-align: right}
.setup .links   { text-align: right; }




/* Frame on open */
.setup details[open] > summary {
    margin-bottom: 1rem;
}
.setup details {
    background: #1e1e2e;
    font-size: 1rem;
    padding: 1rem;
}

/* Gaps above and below the screen*/
.top-space { top: 0; }
.bot-space { bottom: 0; }
.top-space,
.bot-space {
    position: fixed;
    background-color: #11111b;
    height: 2rem;
    width: 100%;
}
