@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: rgb(69,71,90);
  /* color: #11111b; */
}

section {
    margin: auto;
    max-width: 80rem;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
